{{ define "content" }}
<div class="container py-5">
    <h2 class="text-center my-5">My Projects</h2>
    <div class="row">
        {{ range .Pages }}
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- <img src="https://placehold.co/600x400" class="card-img-top" alt="{{ $.Title }}"> -->
                {{ with .Params.image }}
                <img src="{{ . }}" class="card-img-top" alt="{{ $.Title }}">
                {{ end }}
                <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text">{{ .Summary }}</p>
                    <a href="{{ .RelPermalink }}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
