{{ define "content" }}
<div class="container py-5">
    <h1 class="text-center">Blog</h1>
    <div class="row">
        {{ range .Pages }}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text">{{ .Summary }}</p>
                    <a href="{{ .RelPermalink }}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
