---
import Link from "./link/Link.astro";

interface Props {
    title: string;
    href: string;
    viewAllText?: string;
}
const { title, href, viewAllText = "View all &rarr;" } = Astro.props;
---

<div class="mb-12 flex items-center justify-between">
    <h2 class="text-3xl font-bold">{title}</h2>

    <Link variant="hover-reveal" {href}>
        {viewAllText}
    </Link>
</div>
