<a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none mb-3 mb-md-0">
    <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">Starter template</span>
</a>

<ul class="nav col-md-auto mb-2 ms-auto">
    <li><a href="/" class="nav-link px-2 link-secondary link-underline">Home</a></li>
    <li><a href="/about" class="nav-link px-2 link-secondary link-underline">About</a></li>
    <li><a href="/articles" class="nav-link px-2 link-secondary link-underline">Articles</a></li>
    <li><a href="/projects" class="nav-link px-2 link-secondary link-underline">Projects</a></li>
    <li><a href="/uses" class="nav-link px-2 link-secondary link-underline">Uses</a></li>
    <li><a href="/reading" class="nav-link px-2 link-secondary link-underline">Reading</a></li>
</ul>